/* ---BODY--- */
body {


}

/* ---CLOSE BODY */



/* ---.CONTAINER--- */
.container {
  width: 960px;
  background-color: blue;
  margin: auto;
}
/* ---CLOSE .CONTAINER */



/* ---HEADER-- */
header{
  background-color: yellow;
  width: 960px;
  float: left;
}
/* ---CLOSE HEADER */




/* ---ASIDE--- */
aside{
  background-color: purple;
  width: 200px;
  float: left;
}
/* ---CLOSE ASIDE */



/* ---SECTION--- */
#main_wrapper {
  /*background-color: green;*/
  width: 750px;
  float: left;
}

.fact_boxes{
  width: 750px;
  border: 1px solid red;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  /*position: relative;
  height: auto;*/
}

.fact_boxes h4 {
  color: #ffffff;
  margin: 0;
  padding: 3px 10px;
  background-color: red;
}

.fact_boxes ul{
  margin-top: 0;
  padding-left: 0;
}

.fact_boxes li{
  background-color:rgb(212, 222, 235);
  list-style: none;
  margin-bottom: 2px;
  font-weight: bold;
  color: #000000;
  padding: 3px 0 3px 3px;
}

.fact_boxes a{
  color: #003680;
  text-decoration: none;
}

/* ---FACT BOX 1: Just the Facts--- */

#box1 {
  font-weight: bold;
  float: left;
  border: 1px solid pink;
  width: 352px;
  margin-top: 5px;
  margin-right: 6px;
  /*margin-bottom: 8px;*/ /* wtf is happening w/ the bottom margin? */
  margin-left: 5px;
  /*position: absolute;
  display: inline;
  height: 100%
  margin: 0 auto;*/
}

#box1 ul:first-of-type > li:nth-child(1) a{
  text-decoration: none;
  color: #A2A2A2
}

#box1 li > span{
  color: #003680;
}

#box1 li > a{
  color: #000000;
  text-decoration: none;
}

/* ---FACT BOX 2: Visit Jupiter--- */
#box2{
  border: 1px solid blue;
  float: left;
  width: 352px;
  margin-top: 5px;
  margin-right: 5px;
  /*margin-bottom: 8px;*/ /* wtf is happening w/ the bottom margin? */
  margin-left: 6px;
  /*position: absolute;
  display: inline;
  height: 100%;
  margin: 0 auto;*/
}

#box2 img{
  display: block;
  margin: 5px auto;
}

/* ---FACT BOX 3: Resources--- */

#box3 {
  float: left;
  width: 352px;
  margin-top: 5px;
  margin-right: 6px;
  /*margin-bottom: 8px;*/ /* wtf is happening w/ the bottom margin? */
  margin-left: 5px;
}

/* ---FACT BOX 4: People Spotlight--- */

#box4 {
  float: left;
  width: 352px;
  width: 352px;
  margin-top: 5px;
  margin-right: 5px;
  /*margin-bottom: 8px;*/ /* wtf is happening w/ the bottom margin? */
  margin-left: 6px;
}

#box4 li{
  padding: 5px 0 8px 5px;
  font-weight: normal;
}

#box4 a {
  font-size: 13px;
  font-weight: bold;
}

#box4 ul:first-child p{
  display: inline;
  float: left;
}

/*#box4 img{
  position: absolute;
  top: 0;
  right: 0;
  float: left;
  margin: 2px 5px;
}*/

#box4 p{
  margin-top: 0px;
  margin-bottom: 0px;
}

#box4 li:last-child{
  padding-bottom: 3px;
  padding-top: 3px;
}

#box4 li:last-child a{
  color: #000000;
  font-size: 12px;
}

/* ---FACT BOX 5: Calendar--- */

#box5 {
  float: left;
  width: 352px;
  margin-top: 5px;
  margin-right: 6px;
  /*margin-bottom: 8px;*/ /* wtf is happening w/ the bottom margin? */
  margin-left: 5px;
}

#box5 li{
  padding-left: 20px;
}

/*#box5 li:last-child {
  position: absolute;
  height: 100%
  width: 347px;
}*/

#box5 a{
  color: #000000;
  font-weight: normal;
  font-size: 11px;
}

/* ---FACT BOX 6: Headlines--- */
#box6 {
  width: 352px;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  /*margin-bottom: 8px;*/ /* wtf is happening w/ the bottom margin? */
  margin-left: 6px;
}

#box6 li{
  padding-left: 10px;
}

#box6 a{
  color: #000000;
  font-weight: normal;
  font-size: 11px;
}

#box6 p{
  display: inline;
}

#box6 li:last-child a{
  font-size: 12px;
  font-weight: bold;
}

/* ---FACT BOX 7: Science & Tech--- */

#box7 {
  width: 352px;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  /*margin-bottom: 8px;*/ /* wtf is happening w/ the bottom margin? */
  margin-left: 6px;
}

#box7 li{
  padding-left: 10px;
}

#box7 a{
  color: #000000;
  font-weight: normal;
  font-size: 11px;
}

#box7 p {
  display: inline;
}

/* ---CLOSE SECTION--- */



/* ---FOOTER--- */
footer{
  background-color: pink;
  width: 960px;
  float: left;
}
/* ---CLOSE FOOTER--- */
